<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Homepage</title>

  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="/static/style.css">

  <!-- <style>
  color: rgb(8, 170, 245);
  </style> -->
</head>

<body>
  <div class="eat" style="color: blue;">>
    <h1>Welcome to Raspieats!</h1>
    <h2>Here are the rules to the game:</h2>
    <ol>
        <li> Using the SenseHat's Joystick (Trinket: arrow keys) to move.</li>
        <li> Aim to get/eat the cyan dot.</li>
        <p>If you choose this path, you can move anywhere on the board.</p>
        <p>You are to get the dot for 10 times. (Please don't get bored.)</p>
        <button> <a href='/raspieats'>Play</a></button>
    </ol>
  </div>  
  
  <div class="catch" style="color: pink;">>
    <h1>Welcome to Catchem!</h1>
    <h2>Here are the rules to the game:</h2>
    <ol>
        <li> Using the SenseHat's Joystick (Trinket: arrow keys) to move.</li>
        <li> Aim to catch the dots before it reach the bottom.</li>
        <p>If you choose this path, you can only move left or right on the board.</p>
        <!--<p>You are to get the dot for 10 times. (Please don't get bored.)</p>-->
        <button> <a href='/catchem'>Play</a></button>
    </ol>
  </div>  

</body>
</html>